<div class="animated fadeIn">
  <app-filter-table *ngIf="showFilter" (filterArray)="updateFilter($event)" [canAdd]="canAdd"
                    (createItem)="add($event)"></app-filter-table>

  <ngx-datatable
          class="material striped"
          [rows]="data"
          [columns]="columns"
          [columnMode]="'force'"
          [sortType]="'multi'"
          [headerHeight]="50"
          [footerHeight]="'auto'"
          [rowHeight]="'auto'"
          [scrollbarH]="true"
          [limit]="limit"
          (select)='onSelect($event)'
          [selected]="selected"
          [selectionType]="'checkbox'">
    <ngx-datatable-column *ngIf="showCheckbox" [width]="30" [sortable]="false" [canAutoResize]="false"
                          [draggable]="false"
                          [resizeable]="false">
      <ng-template ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected"
                   let-selectFn="selectFn">
        <div class="check-item" style="margin-top: 17px">
          <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
          <span class="checkmark"></span>
        </div>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-value="value" class="check-item" let-isSelected="isSelected"
                   let-onCheckboxChangeFn="onCheckboxChangeFn">
        <div class="check-item">
          <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
          <span class="checkmark"></span>
        </div>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngFor="let column of columns" [name]="column.name" [sortable]="true" [canAutoResize]="true" [minWidth]="100" ([width])="column.width" [draggable]="true" [resizeable]="true">
      <ng-template ngx-datatable-header-template>
        <span (click)="sort(column)">{{ column.label?column.label:column.name }} <i *ngIf="column.canSort && sortBy === column.name" ></i></span>
      </ng-template>
    </ngx-datatable-column>

    <ngx-datatable-column *ngIf="canEdit" name="Quản lý" [width]="100" [sortable]="false" prop="id">
      <ng-template let-column="column" ngx-datatable-header-template>
        <div class="text-center">{{column.name}}</div>
      </ng-template>
      <ng-template ngx-datatable-cell-templatelet-row="row" let-row="row" let-value="value"
                   ngx-datatable-cell-template>
        <div class="text-center edit-item">
          <span (click)="edit(row)" class="fa fa-edit fa-lg"></span>
          <span (click)="delete(row)" class="fa fa-trash-o fa-lg"></span>
        </div>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-footer *ngIf="showFooter">
      <ng-template
              class="row"
              ngx-datatable-footer-template
              let-rowCount="rowCount"
              let-pageSize="pageSize"
              let-selectedCount="selectedCount"
              let-curPage="curPage"
              let-offset="offset">
        <div class="col-md-6">
          <button class="btn btn-default remove-all" (click)="removeAll()" *ngIf="canRemoveAll && showFooter">
            Remove all
          </button>
          <span *ngIf="metadata">Show {{ (metadata.page-1) * metadata.limit+ 1 }} to {{(metadata.page * metadata.limit <= metadata.total)? (metadata.page * metadata.limit): (metadata.total) }} of {{metadata.total}} entries</span>
        </div>
        <app-table-pager *ngIf="metadata"
                class="col-md-6 text-right"
                [pagerLeftArrowIcon]="'datatable-icon-left'"
                [pagerRightArrowIcon]="'datatable-icon-right'"
                [pagerPreviousIcon]="'datatable-icon-prev'"
                [pagerNextIcon]="'datatable-icon-skip'"
                [page]="metadata.page"
                [size]="metadata.limit"
                [count]="metadata.total"
                [hidden]="!((metadata.total / metadata.limit) > 1)"
                (change)="changePage($event)">
        </app-table-pager>
      </ng-template>
    </ngx-datatable-footer>
  </ngx-datatable>
</div>