<div class="top-bar">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="social pull-left">
          <ul>
            <li><a href="https://facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://plus.google.com"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="https://linkedin.com"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="action pull-right">
          <ul>
            <li><a href=""><i class="fa fa-user"></i> Login</a></li>
            <li><a href=""><i class="fa fa-lock"></i> Register</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <div class="logo">
          <a routerLink="/home">
            <img src="assets/img/logo.png" alt="Orani E-shop">
          </a>
        </div>
      </div>
      <div class="col-md-6 col-sm-5">
        <div class="search-form">
          <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="What do you need...">
              <div class="input-group-append">
                <button type="submit" class="btn"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="cart">
          <div class="cart-icon">
            <a href=""><i class="fa fa-shopping-cart"></i></a>
          </div>
          <div class="cart-text">
            SHOPPING CART
            <br>
            0 items - $0.00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
