<div class="short-description">
    <div class="container">
        <app-single-product-information></app-single-product-information>
    </div>
</div>
<div class="container">
    <div class="row single-product-tabs">
        <app-widget>
            <app-single-product-tabs>
            </app-single-product-tabs>
        </app-widget>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="related-items">
            <app-widget>
                <tabset>
                    <tab heading="Trending Item">
                        <div  class="row">
                            <div class="col-md-3 col-sm-4">
                                <app-product-block></app-product-block>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <app-product-block></app-product-block>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <app-product-block></app-product-block>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <app-product-block></app-product-block>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <app-product-block></app-product-block>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <app-product-block></app-product-block>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <app-product-block></app-product-block>
                            </div>
                        </div>
                    </tab>
                </tabset>
            </app-widget>
        </div>
    </div>
</div>