<div class="row">
  <div class="col-md-6">
    <div class="product-thumbnail row">
      <div class="col-md-2 col-sm-2 col-xs-2">
        <ul class="thumb-image">
          <li class="active"><img src="assets/img/products/single-product-1.jpg" alt=""></li>
          <li><img src="assets/img/products/single-product.jpg" alt="">
          </li>
          <li><img src="assets/img/products/single-product.jpg" alt="">
          </li>
          <li><img src="assets/img/products/single-product.jpg" alt=""></li>
          <li><img src="assets/img/products/single-product.jpg" alt=""></li>
        </ul>
      </div>
      <div class="col-md-10 col-sm-10 col-xs-10">
        <div class="thumb-main-image"><img src="assets/img/products/single-product-1.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <div class="col-md-6">
    <h1 class="product-title">Blue Jacket</h1>
    <div class="ratings">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <span class="vote-count">35 vote</span>
    </div>
    <div class="product-info">
      <span class="product-id"><span class="strong-text">Product ID:</span> RST 4562</span>
      <span class="product-avilability"><span class="strong-text">Availability:</span> In Stock</span>
    </div>
    <p class="short-info">Lorem ipsum dolor sit amet, feugiat delicata liberavisse id cum, no quo maiorum
      intellegebat, liber regione eu sit. Mea cu case ludus integre, vide viderer eleifend ex mea. His at
      soluta regione diceret, cum et atqui placerat petentium. Lorem ipsum dolor sit amet, feugiat
      delicata liberavisse id cum, no quo maiorum intellegebat, lie diceret, cum et atqui placerat
      petentium.</p>
    <div class="price">
      <span>$522.00</span>
    </div>
    <form action="" class="purchase-form">
      <div class="qt-area">
        <i class="fa fa-minus"></i>
        <input name="quantity" class="qt" value="1">
        <i class="fa fa-plus"></i>
      </div>

      <button class="btn btn-theme" type="submit">Add to cart</button>
      <div class="social-share">
        <ul>
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-google-plus"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </form>
    <p><span class="strong-text">Categories:</span> Pants, T-Shirt, Jama</p>
    <p><span class="strong-text">Tags:</span> GonShop, theme-sky, woocommerce, wordpress</p>
    <ul class="product-info-btn">
      <li><a href=""><i class="fa fa-heart-o"></i> Wishlist</a></li>
      <li><a href=""><i class="fa fa-arrows-h"></i> Compare</a></li>
      <li><a href=""><i class="fa fa-envelope-o"></i> Email</a></li>
      <li><a href=""><i class="fa fa-print"></i> Print</a></li>
    </ul>
    <p><i class="fa fa-check"></i> Let’s start with the most essential part of any written content. At the
      early </p>
  </div>
</div>