<div class="shopping-process text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3">
        <div class="single-process">
          <i class="fa fa-check"></i>
          <h3>Choose a Product</h3>
          <p>The European languages are members the same family. Their separate existence science </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="single-process">
          <i class="fa fa-cart-arrow-down"></i>
          <h3>Add to Cart</h3>
          <p>The European languages are members the same family. Their separate existence science </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="single-process">
          <i class="fa fa-money"></i>
          <h3>Make Order</h3>
          <p>The European languages are members the same family. Their separate existence science </p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="single-process">
          <i class="fa fa-dashcube"></i>
          <h3>Deliver For Free</h3>
          <p>The European languages are members the same family. Their separate existence science </p>
        </div>
      </div>
    </div>
  </div>
</div>