<tabset>
  <tab heading="Description" id="tab1">
    <div class="product-desc">
      <h2>Product Description</h2>
      <p>Ultricies et consectetur rhoncus lorem mattis, ligula interdum nibh dolor ipsum, venenatis
        ultrices sem nisl senectus phasellus lectus facilisis gravida curabitur interdum pretium et
        pellentesque nullam auctor vestibulum aenean ipsum placerat erat volutpat lectus mi est
        lacinia sociosqu, pretium habitasse aenean eros tristique augue a vivamus ac, sapien blandit
        nullam et neque curabitur varius nostra dui dictum cras orci congue. Ultricies et
        consectetur rhoncus lorem mattis, ligula interdum nibh dolor ipsum, venenatis ultrices sem
        nisl senectus phasellus lectus facilisis gravida curabitur interdum pretium et pellentesque
        nullam auctor vestibulum aenean ipsum placerat</p>
    </div>
  </tab>
  <tab heading="Reviews">

  </tab>
</tabset>