<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <div class="navbar-header" id="collapse-h">
      <button type="button" class="navbar-toggle collapsed" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
          <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse shop-category" id="navbarTogglerDemo01" [collapse]=isCollapsed>
      <div class="btn-group dropdown category-btn" dropdown placement="bottom right">
        <button type="button" class="btn btn-shop-category dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" (click)="false" dropdownToggle>
          Shop By Category <span class="caret"></span>
        </button>
        <ul class="dropdown-menu"  *dropdownMenu aria-labelledby="simple-dropdown">
          <li class="dropdown-item"><a [routerLink]="['/category', 'men']" routerLinkActive="active">Men</a></li>
          <li class="dropdown-item"><a href="">Women</a></li>
          <li class="dropdown-item"><a href="">Kids</a></li>
          <!--<li role="separator" class="divider dropdown-item"></li>-->
          <li class="dropdown-item"><a href="">Leather</a></li>
          <li class="dropdown-item"><a href="">Electronics</a></li>
        </ul>
      </div>
      <ul class="navbar-nav navbar-right main-navigation mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/blog" routerLinkActive="active">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Shortcode</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Media</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
      </ul>
    </div>
  </div>
</nav>