<div class="container widget">
  <tabset *ngIf="widgetType === 'product'">
    <tab heading="Trending Item" id="tab1">
      <div  class="row">
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
      </div>
    </tab>
    <tab heading="Best seller">
      <div  class="row">
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
      </div>
    </tab>
  </tabset>
  <div *ngIf="widgetType === 'blog'">
    <div class="blog-title">
      <h2 class="pull-left text-left">From The Blog</h2>
      <a href="" class="pull-right text-right">More Post <i class="fa fa-long-arrow-right"></i></a>
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-3 col-sm-4">
        <app-blog-block></app-blog-block>
      </div>
    </div>
  </div>
</div>