<div class="container widget">
  <tabset *ngIf="widgetType === 'product'">
    <tab heading="Trending Item" id="tab1">
      <div  class="row">
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
      </div>
    </tab>
    <tab heading="Best seller">
      <div  class="row">
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
        <div class="col-md-3 col-sm-4">
          <app-product-block></app-product-block>
        </div>
      </div>
    </tab>
  </tabset>
</div>