// Here you can add other styles
@import "reponsive";
*{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body{
  background: #ffffff;
  font-family: 'Playfair Display', serif;
}

div#navbarTogglerDemo01.in.show{
  padding-top: 20px !important;
}
