// Here you can add other styles
@import "reponsive";
*{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body{
  background: #ffffff;
  font-family: 'Playfair Display', serif;
}

div#navbarTogglerDemo01.in.show{
  padding-top: 20px !important;
}
app-widget{
  width: 100% !important;
  .widget{
    margin-bottom: 40px;
    tabset{
      width: 100% !important;
      ul.nav-tabs{
        margin-bottom: 40px !important;
        border: none;
        background: #253036;
        border: 1px solid #253036;
        li.nav-item{
          margin: 0;
          a{
            color: #fff;
            border-radius: 0;
          }
          &.active{
            a{
              color: #253036;
              background: #fff;
            }
          }
        }
        .tab-content{
          border: none !important;
          tab {
            padding: 0;
            margin-top: 20px;
          }
        }
      }
    }
    .blog-title {
      background: #253036;
      width: 100%;
      height: 45px;
      margin: 0px 0px 30px;
      padding: 0px 20px;
      font-family: 'raleway', sans-serif;
      h2,a {
        color: #fff;
        text-transform: uppercase;
        margin: 0px;
        padding: 0px;
        font-weight: 600;
      }
      h2 {
        padding: 0;
        line-height: 45px;
        vertical-align: middle;
        font-size: 15pt
      }
      a {
        padding: 10px 0px;
        font-size: 10pt;
        &:hover {
          color: #666;
        }
      }
    }
    .blog-widget-content{
      width: 100%;
    }
  }
}
